html, body{
  background-image: url();
 margin:0;
 padding:0;
 perspective: 800px;
 overflow: hidden;
 }
  .header{
   background-image: linear-gradient(to top, transparent, rgb(81, 119, 181));
     height:60px;
     text-align:  right;
     text-overflow: unset;
     line-height: 1.7em;
     font-size: 30px;
     margin-bottom: 20px;
     width: 100%;
   }
   .header p{
     margin-right: 25px;
 }
   .all{
   display: flex;
   max-height: auto;
   max-width: auto;
 } 
 /* flexbox */
   .container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     background-color: rgb(120, 206, 54);
     height:530px;
     width:900px;
     margin-left: 35px;
     border: 1px solid black;
   }
   .subcontainer{
     display: flex;
     justify-content: center;
     background-color: rgb(255, 250, 241);
     height:465px;
     width:900px;
     margin: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
   }
   .navbar{
     flex:1;
     flex:22%;
     background-color: #f4ffff;
     justify-content: center;
     border-right: 1px solid black;
   }
   .main{
    flex:3;
    flex:78%;
    ;
    background-repeat: repeat;
    background-size: 200px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    overflow: auto;
    
   }
   .subhead{
     background-color: rgb(61, 122, 207);
     width:900px;
     height: 45px;
     flex:100%;
     margin: 10px;
     margin-bottom: -18px;
     border: 1px solid black;
   }
   .extra{
     margin-left: 20px;
 
     width:230px;
     height:530px;
     border-radius: 3px;
     
   } 
   /* flexbox en bas c suppose etre navbar img */
   #kiku{
     border: 1px solid black;
     border-radius: 2px;
     width: 80%;
     object-fit: cover;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 25px;
   } 
   
 /* mobile code */
 @media all and (max-width: 800px){
   .all{
       flex: 2;
       flex-direction: column;
    }
 
    .container{
       order: 1;
       width: 90%;
       margin-bottom: 20px;
       
    }
  .main{
   overflow: auto;
   height: 50px;
 }
 .navbar{
   overflow: auto;
   height: 50px;
   justify-content: center;
   
 }
 .navbar table{ 
   margin-left: 25px;
 }
  .subcontainer{
   flex-direction: column;
   
 }
 
 table{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
 }
 .faketabs table{
   display: none;
 }
 #img1, #img2{
   display: none;
 }
  #td2, #td3, #td4 {
   display: none;
  }
  #kiku{ width: 30%;}
    .extra{
       order: 2;
       width: 90%;
       margin-left: 35px;
    }
 
   }
 /* mobile code */
 #list{
   margin-left: 20px;
   width: 275px;
 }
 table{
   border-collapse: collapse;
   height: 80px;
   width: 200px;
   margin-top: -10px;
 }
 .table, td {
   border: 1px solid black ;
 }
 
 .navbar a{
  position: relative;
  line-height: 30px;
  margin-left: 20px;
  text-align: center;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
  text-decoration: none;
  background-color: #e6f6fe;
  background-image: -webkit-linear-gradient(#c3042a,#f68371,#dc413c,#fe8052);
  box-shadow:0px 9px 5px -6px  #d09fa4;
  color: #f4ffff;
  font-family: tahoma;
  font-size: 11px;
  display: inline-block;
  transition: 0.5s;
}
.navbar a::after{
content: '';
position: absolute;
top: 2px;
left: 2px;
width: calc(100% - 4px);
height: 50%;
background: linear-gradient(rgba(252, 180, 205, 0.584), rgba(151, 122, 131, 0.2));

}
 .navbar a:hover{
     text-decoration: underline;
     
 }
 .navbar table{
   border-collapse: collapse;
   height: 20px;
   width: 150px;
   margin-left: 20px;
   font-size: 13px;
 }
 .faketabs{
  display: flex;
   margin-top: 17px;
   margin-left: 14px;
   margin-right: 14px;
 }
 .faketabs table{
   height:10px;
   width: 500px;
 }
 #table3{
   border: 0px transparent;
   width: 60%;
   
 }
 #aqua{
   width: 95%;
 }
 .extraheader{
   height: 20px;
   border: 1px solid black;
   background-color: coral;
 }
 .extrabox{
   height: 200px;
   border: 1px solid black;
   background-color: rgb(220, 255, 80);
 }
 .calendar{
  margin-top: 20px;
  border: 0.5px rgb(198, 198, 198) solid;
 }
 #td1, #td2, #td3, #td4 {
   border: transparent;
  }
 .subhead table{
   width: 878px;
   border: transparent;
  }
  #pixel{
   margin-top: 20px;
   margin-left: 10px;
  }
  #hr2{
   margin-bottom: -25px;
   margin-top: 15px;
 }
 .subhead{
   background-color: #03a8fa;
     background-image: -webkit-linear-gradient(#9fee3f,#71db2f);
     color: #f4ffff;
     display:inline-block;
     position: relative;
 }
 .subhead h4{
   color: #f4ffff;
   margin-left: 20px;
   margin-top: 5px;
   font-family: homemade apple;
 }
 .content{
  display: flex;
  justify-content: center;
}
.photo img{
  max-width: 30%;
  margin: 0 5px;
  position: relative;
  border: 1px solid #6a6765bb;
}
.lightbox{
  opacity: 0;
  z-index: -6;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: #00000068;
  background-size: 100px 100px;
  transition: all .3s;
}
.photo{
  z-index: 1;
}
.lightbox img{
  max-width: 45%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.lightbox:target{
  opacity: 1;
  z-index: 999;
}

.mainsub{
  margin-top: 25px;
  display: block;
  margin-left: auto  ;
  margin-right: auto;
  width: 625px;
  height: 420px;
  background-color: #ffffffb7;
  overflow: auto;
}

 
 
 
 
 
 
 